h1 = @greeting
p Answers or comments were added to yours question
p check it by link:
form action="http://161.35.212.31/questions/#{@question}"
  input type="submit" value="Go to Google" style="width: 100px; height: 30px;"
